<nav class="bg-gray-300 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-xl font-bold">
      <a routerLink="/">Groo</a>
    </div>

    <div class="hidden md:flex space-x-4">
      <a class="text-white hover:text-gray-400" routerLink="/shopping-cart"
        >Shopping Cart</a
      >
      <a *ngIf="!user" class="text-white hover:text-gray-400" routerLink="/login"
        >Log In</a
      >
      <div
        class="relative"
        (mouseenter)="toggleDropDown(true)"
        (mouseleave)="toggleDropDown(false)"
      >
        <button *ngIf="user" class="text-white hover:text-gray-400 focus:outline-none">
          <!-- add ' "cursor-not-allowed"disabled ' to disable cursor -->
         {{user.displayName}}
        </button>

        <div
          class="absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg opacity-70 z-10 pointer-events"
          *ngIf="dropDownOpen"
        >
          <a
            class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
            routerLink="/my-orders"
            >My Orders</a
          >
          <a
            class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
            routerLink="/admin-orders"
            >Manage Orders</a
          >
          <a
            class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
            routerLink="/admin-products"
            >Manage Products</a
          >
          <a
            class="block px-4 py-2 text-gray-800 hover:bg-gray-200" (click)="logOut()"
            >Log Out</a
          >
        </div>
      </div>
      <div class="relative space-x-1">
        <input
          type="text"
          class="p-2 right-2 top-1/2 transform -translate-x-1 text-gray-500 rounded-md pointer-events"
          placeholder="Search"
        />
        <button type="button" class="p-2 bg-blue-500 rounded-md hover:bg-white hover:border-2 hover:border-blue-500 ">search</button>
      </div>
    </div>
  </div>
</nav>
